.one {
	margin: 100px 200px 50px 200px;
	width: 100px;
	height: 100px;
	background: rgb(255, 0, 0);
	transition: transform 2s;
}
.two {
	margin: -150px 0px 0px 300px;
	width: 100px;
	height: 100px;
	background: rgb(255, 255, 0);
	transition: transform 2s;
}
.three {
	margin: 0px 0px 0px 200px;
	width: 100px;
	height: 100px;
	background: rgb(0, 42, 255);
	transition: transform 2s;
}
.four {
	margin: -100px 0px 0px 300px;
	width: 100px;
	height: 100px;
	background: rgb(5, 90, 56);
	transition: transform 2s;
}
.main {
	margin: 100px 0px 0px 100px;
	width: 200px;
	height: 200px;
}

.main:hover .one {
	transform: rotate(90deg) translateY(100px);
}
.main:hover .two {
	transform: rotate(-90deg) translateY(100px);
}
.main:hover .three {
	transform: rotate(-90deg);
	transform-origin: bottom left;
}
.main:hover .four {
	transform: translateX(100px) rotate(90deg) translateY(0px);
}
h1 {
	position: relative;
	margin: -120px 0px 0px 290px;
	z-index: -100;
}
